data_directory = '/var/lib/postgresql/9.4/main'
hba_file = '/etc/postgresql/9.4/main/pg_hba.conf'
ident_file = '/etc/postgresql/9.4/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/9.4-main.pid'

listen_addresses = 'localhost'
port = 5432
max_connections = 100
unix_socket_directories = '/var/run/postgresql'

ssl = off

shared_buffers = {{ postgres_shared_buffers }}
dynamic_shared_memory_type = posix

checkpoint_segments = {{ postgres_checkpoint_segments }}
checkpoint_completion_target = {{ postgres_checkpoint_completion_target }}

effective_cache_size = {{ postgres_effective_cache_size }}

log_line_prefix = '%m [%p] %q%u@%d '
log_timezone = 'UTC'

stats_temp_directory = '/var/run/postgresql/9.4-main.pg_stat_tmp'

datestyle = 'iso, dmy'
timezone = 'UTC'

lc_messages = 'en_GB.UTF-8'
lc_monetary = 'en_GB.UTF-8'
lc_numeric = 'en_GB.UTF-8'
lc_time = 'en_GB.UTF-8'

default_text_search_config = 'pg_catalog.english'
